@import "@/styles/classes.scss";

.workbench {
  @extend %clearfix;
  $aside-width: 500px;
  position: relative;

  > .slate {
    padding-right: $aside-width;
    position: relative;

    > aside {
      width: $aside-width;
      overflow: hidden;
      min-height: 300px;
      border-left: 1px solid var(--gray-6);
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
