@import "@/styles/classes.scss";
@import "@/styles/default.scss";

.workbench {
  @extend %clearfix;
  $aside-width: 40%;
  position: relative;

  > .slate {
    right: $aside-width;

    + aside {
      width: $aside-width;

      box-shadow: var(--gray-4) 0 0 4px 2px;
      border-left: 1px solid var(--gray-4);
      
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding-top: $app-frame-height;
    }
  }
}
