.workbench-aside {
  padding: 0 13px;
  font-size: 12px;
  overflow-y: auto;

  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  bottom: 64px;
}

.aside-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;

  padding-top: 12px;
  > button {
    position: relative;
    left: 12px;
    width: calc(100% - 24px);
  }
}

@mixin pick-one-dialog($item-name) {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;

  #{$item-name} {
    display: inline-block;
    position: relative;
    flex-basis: 200px;
    flex-grow: 0;
    border: 2px solid transparent;

    > div {
      background-color: #fff;
      width: 200px;
      height: 200px;
    }
    > h6 {
      font-size: 12px;
      margin: 10px 0;
      user-select: none;
    }
    > p {
      margin: 0;
      font-size: 12px;
      color: gray;
      user-select: none;
    }
    &:hover {
      border-color: var(--gray-5);
    }
    &:active,
    &.active {
      border-color: var(--gray-8);
    }
  }
}

.dialog-select-transform {
  @include pick-one-dialog(".dialog-select-transform-option");
}

.dialog-style-picker {
  @include pick-one-dialog(".leaf-style-card");

  .leaf-style-card {
    > div:first-child {
      > span:first-child {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      > span:last-child {
        float: right;
        margin-right: 12px;
        line-height: 32px;
      }
    }
  }
}
.image-input {
  width: 200px;
  height: 200px;
}

.image-input-button {
  border: 1px solid var(--gray-4);
  transition: all .1s;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:hover,&:focus {
    border-color:var(--blue-5);
  }

  & + div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    pointer-events: none;
    > * {
      color: var(--gray-6);

      font-size: 48px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  & ~ canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  ~ span {
    position: absolute;
    top: 4px;
    right: 4px;

    color: var(--gray-6);
    user-select: none;
  }
  ~ .file-input {
    position: absolute;
    bottom: 4px;
    left: 4px;

    .mk-button:not(:hover) {
      background-color: transparent;
    }
  }
}

.dialog-table-style-picker {
  @include pick-one-dialog(".table-style-card");
}

.transform-card {
  position: relative;

  padding: 32px 0 0;
  border: 1px solid var(--gray-4);
  margin-bottom: -1px;

  background-color: var(--gray-1);

  > div.active-info {
    position: absolute;
    width: 4px;
    top: -1px;
    bottom: -1px;
    right: 0;
    background-color: transparent;
  }

  &.current {
    box-shadow: skyblue 4px 0 0 0, var(--gray-4) 6px 2px 0 2px;
  }
  &.applied {
    box-shadow: lawngreen 4px 0 0 0, var(--gray-4) 6px 2px 0 2px;
  }
  &.unused {
    box-shadow: gray 4px 0 0 0, var(--gray-4) 6px 2px 0 2px;
  }

  .content-matches {
    margin: 8px 0;
    position: relative;
  }

  .match-item {
    padding: 0 8px;
    .match-item-title {
      color: var(gray-8);
    }

    .match-rule-grid {
      margin-left: 8px;
      margin-bottom: 8px;
      padding-left: 12px;
      border-left: 1px solid var(--gray-5);

      display: grid;
      grid-template-columns: 100px auto;
      align-items: center;

      > span {
        text-align: right;
        margin-right: 20px;
      }
    }
  }

  .content-result {
    padding: 32px 8px 8px;

    > span {
      display: block;
      margin: 8px 8px 8px 0;
    }
    > .input {
      width: 50%;
    }
    > button {
      width: 50%;
    }
  }

  > div.title {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
  }
}

.history-container {
  height: calc(100% - 64px);
  margin-bottom: 24px;
  overflow: hidden;
  display: flex;
}

.history-list {
  flex-basis: 150px;
  flex-shrink: 0;
  flex-grow: 2;
  overflow-y: auto;
}

.history-preview {
  flex-basis: 150px;
  flex-shrink: 1;
  flex-grow: 10;

  position: relative;
  margin-left: 12px;
  overflow-y: auto;
}

.leaf-style-editor {
  > aside {
    padding: 8px;
    float: left;
    overflow: auto;
    box-shadow: var(--gray-4) 0 0 4px 2px;
    width: 300px;

    .checkbox-button {
      width: 120px;
    }
  }
  > .sample-container {
    float: left;
    margin-left: 24px;
    min-width: 200px;

    .sample {
      > span:last-child {
        //edit icon
        opacity: 0;
      }
      &:hover > span:last-child {
        opacity: 0.5;
      }
    }
  }
}

.table-style-editor {
  height: calc(100% - 64px);
  margin-bottom: 24px;

  > aside {
    padding: 8px;
    float: left;
    overflow: auto;
    box-shadow: var(--gray-4) 0 0 4px 2px;
    width: 400px;
    max-height: 100%;

    .table-style-list {
      > div {
        display: flow-root;
        position: relative;
        margin: 8px;
        border: 1px solid var(--gray-4);

        > button {
          position: absolute;
          top: 0;
          right: 0;
        }

        > div:nth-child(2) {
          float: left;
          width: 40px;
          button {
            height: 60px;
            &.disabled {
              opacity: 0;
            }
          }
        }
        > div:nth-child(3) {
          display: flow-root;
        }
      }
    }
  }

  > .sample-container {
    margin-left: 424px;
    min-width: 200px;

    overflow: scroll;
    white-space: nowrap;
  }
}

.match-item-enter {
  opacity: 0;
}
.match-item-enter-active {
  opacity: 1;
  transition: all 0.3s;
}
.match-item-exit {
  opacity: 1;
}
.match-item-exit-active {
  opacity: 0;
  transition: all 0.3s;
}

.transform-card-enter {
  opacity: 0;
  transform: translate(100px);
}
.transform-card-enter-active {
  opacity: 1;
  transform: unset;
  transition: all 0.3s;
}
.transform-card-exit {
  opacity: 1;
}
.transform-card-exit-active {
  opacity: 0;
  transition: all 0.3s;
}

.result-editor-dialog {
  > .slate {
    position: absolute;
    top: 0;
    left: 0;
    right: 300px;
    bottom: 0;
  }
  > aside {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
    right: 0;
  }
}
