.workbench-aside {
  padding: 0 13px;
  font-size: 12px;
  overflow-y: auto;

  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  bottom: 64px;
}

.aside-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;

  padding-top: 12px;
  > button {
    position: relative;
    left: 12px;
    width: calc(100% - 24px);
  }
}

.dialog-select-transform {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;

  .dialog-select-transform-option {
    display: inline-block;
    flex-basis: 200px;
    flex-grow: 0;
    border: 2px solid transparent;

    > div {
      background-color: aliceblue;
      width: 200px;
      height: 200px;
    }
    > h6 {
      font-size: 12px;
      margin: 10px 0;
      user-select: none;
    }
    > p {
      margin: 0;
      font-size: 12px;
      color: gray;
      user-select: none;
    }
    &:hover {
      border-color: var(--gray-5);
    }
    &:active {
      border-color: var(--gray-8);
    }
  }
}

.dialog-style-picker {
  .leaf-style-card {
    display: inline-block;
    flex-basis: 200px;
    flex-grow: 0;
    border: 2px solid transparent;
    
    > div {
      background-color: aliceblue;
      width: 200px;
      height: 200px;
    }
    > h6 {
      font-size: 12px;
      margin: 10px 0;
      user-select: none;
    }
    > p {
      margin: 0;
      font-size: 12px;
      color: gray;
      user-select: none;
    }

    &:hover {
      border-color: var(--gray-5);
    }
    &:active {
      border-color: var(--gray-8);
    }
  }
}

.transform-formular-card {
  position: relative;

  padding: 32px 0 0;
  border: 1px solid var(--gray-4);
  margin-bottom: -1px;

  background-color: var(--gray-1);

  > div.active-info {
    position: absolute;
    width: 4px;
    top: -1px;
    bottom: -1px;
    right: 0;
    background-color: transparent;
  }

  &.current {
    box-shadow: skyblue 4px 0 0 0, var(--gray-4) 6px 2px 0 2px;
  }
  &.applied {
    box-shadow: lawngreen 4px 0 0 0, var(--gray-4) 6px 2px 0 2px;
  }
  &.unused {
    box-shadow: gray 4px 0 0 0, var(--gray-4) 6px 2px 0 2px;
  }

  .content-matches {
    margin: 8px 0;
    position: relative;
  }

  .match-item {
    padding: 0 8px;
    .match-item-title {
      color: var(gray-8);
    }

    .match-rule-grid {
      margin-left: 8px;
      margin-bottom: 8px;
      padding-left: 12px;
      border-left: 1px solid var(--gray-5);

      display: grid;
      grid-template-columns: 100px auto;
      align-items: center;

      > span {
        text-align: right;
        margin-right: 20px;
      }
    }
  }

  .content-result {
    padding: 32px 8px 8px;

    > span {
      display: block;
      margin: 8px 8px 8px 0;
    }
    > .input {
      width: 50%;
    }
    > button {
      width: 50%;
    }
  }

  > div.title {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
  }

  .add-match-button {
  }
  .close-button {
  }
  .apply-transform-button {
  }
}

.match-item-enter {
  opacity: 0;
}
.match-item-enter-active {
  opacity: 1;
  transition: all 0.3s;
}
.match-item-exit {
  opacity: 1;
}
.match-item-exit-active {
  opacity: 0;
  transition: all 0.3s;
}

.transform-formular-item-enter {
  opacity: 0;
  transform: translate(100px);
}
.transform-formular-item-enter-active {
  opacity: 1;
  transform: unset;
  transition: all 0.3s;
}
.transform-formular-item-exit {
  opacity: 1;
}
.transform-formular-item-exit-active {
  opacity: 0;
  transition: all 0.3s;
}

.result-editor-dialog {
  > .slate {
    right: 300px;
  }
  > aside {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
    right: 0;
  }
}
