.slate {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
}

.editor-toolbar {
  padding: 12px 8px;
  width: 100%;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;

  border-bottom: 1px solid var(--gray-4);

  .toolbar-group {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    position: relative;
    &:not(:last-child)::after {
      content: "";
      width: 1px;
      height: 30px;
      position: absolute;
      right: 0;
      top: 5px;

      background: var(--gray-6);
    }
  }

  .editor-button {
    width: 40px;
    height: 40px;

    //icon
    span.anticon {
      font-size: 20px;
      color: var(--gray-8);
    }
  }
  //other style
  .editor-button-color {
    & > div {
      position: absolute;
      top: 26px;
      left: 10px;
      height: 4px;
      width: 20px;
    }
    & > span.anticon {
      position: absolute;
      top: 10px;
      left: 10px;
      height: 15px;
      overflow: hidden;
    }
  }
  .editor-button-color-r {
    width: 20px;
    min-width: 20px;
    & > span.anticon {
      transform: translate(-5px) rotate(90deg);
    }
    & > .color-picker {
      position: absolute;
      top: 40px;
      left: 0;
    }
  }
}

.slate-editable {
  padding: 0 10px;
  margin: 10px;
  overflow: auto;
}

.slate-normalize,
.slate-editable {
  color: black;
  font-size: 16px;

  blockquote {
    background-color: #f5f5f5;
    border-left: 5px solid #aaa;
    padding: 15pt;
    margin: 10px 15px;
  }
  table {
    border-collapse: collapse;
  }
  td {
    border: 1px solid;
  }

  .bling-placeholder {
    width: 0.1ex;
    height: 1em;
    display: inline-block;
  }

  .bling,
  .bling-placeholder {
    position: relative;

    border-radius: 0.2em;
    animation: bling-after 0.75s cubic-bezier(0.1, 1, 0.5, 1) forwards, bling-shining 2s ease-in-out 0.75s infinite;

    background-color: rgba(75, 175, 214, 0.1);
    &.odd {
      background-color: rgba(214, 75, 168, 0.1);
    }
  }

  @keyframes bling-after {
    from {
      transform: scale(1.25);
      opacity: 0.3;
      box-shadow: rgba(0, 170, 255, 1) 0 0 0 5px;
    }
    to {
      transform: unset;
      box-shadow: rgba(0, 170, 255, 1) 0 0 0 1px;
    }
  }

  @keyframes bling-shining {
    0% {
      transform: scale(1.25);

      box-shadow: rgba(0, 170, 255, 1) 0 0 0 1px;
    }
    50% {
      transform: unset;

      box-shadow: rgba(0, 170, 255, 1) 0 0 0 2px;
    }
    100% {
      transform: scale(1.25);

      box-shadow: rgba(0, 170, 255, 1) 0 0 0 1px;
    }
  }

  .transform-placeholder {
    position: relative;
    display: inline-block;
    min-width: 60px;
    background-color: mix(pink, transparent, 20%);
    margin: 0 30px;

    .dropdown-button {
      border:unset;
      width: 100%;
      height: 100%;
      vertical-align: top;
    }
    &.focused::after {
      box-shadow: rgba(0, 170, 255, 1) 0 0 0 2px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -28px;
      bottom: 0;
      right: -28px;
      border: 1px solid salmon;
      pointer-events: none;
    }
  }
}
