.editor-toolbar {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  
  background:--var();

  .toolbar-group {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    position: relative;
    &:not(:last-child)::after {
      content: "";
      width: 1px;
      height: 30px;
      position: absolute;
      right: 0;
      top: 5px;

      background: var(--gray-6);
    }
  }
}

.slate-editable {
  margin: 0 20px;

  font-size: 16px;
}

.editor-button {
  width: 40px;
  height: 40px;

  //icon
  span.anticon {
    font-size: 20px;
    color: var(--gray-8);
  }
}
//other style
.editor-button-color {
  & > div {
    position: absolute;
    top: 26px;
    left: 10px;
    height: 4px;
    width: 20px;
  }
  & > span.anticon {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 15px;
    overflow: hidden;
  }
}
.editor-button-color-r {
  width: 20px;
  min-width: 20px;
  & > span.anticon {
    transform: translate(-5px) rotate(90deg);
  }
  & > .color-picker {
    position: absolute;
    top: 40px;
    left: 0;
  }
}

.slate {
  blockquote {
    background-color: #f5f5f5;
    border-left: 5px solid #aaa;
    padding: 15pt;
    margin: 10px 15px;
  }
  table {
    border-collapse: collapse;
  }
  td {
    border: 1px solid;
  }

  .bling-placeholder {
    width: 0;
    height: 1em;
    display: inline-block;
  }

  .bling,
  .bling-placeholder {
    position: relative;
    white-space: pre;

    &::before,
    &::after {
      content: " ";
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      pointer-events: none;
    }

    &::after {
      animation: bling-after 0.75s cubic-bezier(0.1, 1, 0.5, 1) forwards, bling-shining 2s ease-in-out 0.75s infinite;
      border: 0px solid hsl(200, 100%, 37%);
      border-radius: 2px;
      transform-origin: center;
      transform: scale(1);
      background-color: rgba(0, 146, 219, 0.192);
    }

    &.odd::after {
      background-color: rgba(214, 75, 168, 0.192);
    }
  }
  @keyframes bling-after {
    from {
      transform: scale(1.25);
      opacity: 0.3;
      box-shadow: rgba(0, 170, 255, 1) 0 0 0 1px;
    }
    to {
      transform: unset;
      box-shadow: rgba(0, 170, 255, 1) 0 0 0 1px;
    }
  }

  @keyframes bling-shining {
    0% {
      box-shadow: rgba(0, 170, 255, 1) 0 0 0 1px;
    }
    50% {
      box-shadow: rgba(0, 170, 255, 1) 0 0 0 2px;
    }
    100% {
      box-shadow: rgba(0, 170, 255, 1) 0 0 0 1px;
    }
  }
}
