@import "@/styles/var.scss";

.page-toolbox {
    %indexFrame {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }
    .tools-index {
        @extend %indexFrame;

        margin-top: $app-frame-height;
    }
    .tools-container {
        display: grid;

        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: repeat(1, 250px);
        border-top: 1px solid var(--gray-4);
        // border-bottom: 1px solid var(--gray-4);
        > button {
            height: 100%;
            border-right: 1px solid var(--gray-4);
            border-bottom: 1px solid var(--gray-4);
        }
    }

    .tools-frame {
        @extend %indexFrame;

        height: 100%;
        display: flex;
        > nav {
            width: 64px;
            height: 100%;
            border-right: 1px solid var(--gray-4);
            > button {
                height: 100%;
            }
        }
        > div {
            margin-top: $app-frame-height;
            padding: 0 24px;
            width: 100%;
            // height: 100%;
            // overflow: auto;
        }
    }
}

.fx-calendar-table {
    height: 100%;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column-reverse;

    > div:nth-child(1) {
        box-shadow: var(--gray-4) 0 0 4px 2px;
        justify-self: start;
    }
    > div:nth-child(2) {
        overflow: auto;
        flex-grow: 1;
        margin: 24px;
    }
}

.ani-toolbox-index-enter {
    z-index: 1;
    // transform: scale(0.1);
    opacity: 0;
}
.ani-toolbox-index-enter-active {
    z-index: 1;
    transform: translate(0);
    opacity: 1;
    transition: transform 0.3s cubic-bezier(0.1, 1, 0.5, 1), opacity 0.3s;
}
.ani-toolbox-index-exit {
    opacity: 1;
    transition: transform 0.3s cubic-bezier(0.8, 0.1, 0.1, 0.8), opacity 0.3s;
}
.ani-toolbox-index-exit-active {
    opacity: 0;
}

.ani-toolbox-frame-enter {
    transform: translate(200px);
    opacity: 0;
    z-index: 10000;
}
.ani-toolbox-frame-enter-active {
    z-index: 10000;
    transform: translate(0);
    opacity: 1;
    transition: transform 0.3s cubic-bezier(0.1, 1, 0.5, 1), opacity 0.3s;
}
.ani-toolbox-frame-exit {
    transform: translate(0);
    opacity: 1;
    transition: transform 0.3s cubic-bezier(0.8, 0.1, 0.1, 0.8), opacity 0.3s;
}
.ani-toolbox-frame-exit-active {
    transform: translate(100%);
    opacity: 1;
}
