.leaf-style-editor {
  > .sample {
    width: 300px;
  }

  aside {
    overflow: auto;
    box-shadow: var(--gray-4) 0 0 4px 2px;
    border-right: 1px solid var(--gray-4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;

    .checkbox-button {
      width: 120px;
    }
  }
}
