@import "@/styles/default.scss";

:root {
  --frame-bar-drag-place: 4px;
}
.frame-bar {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $app-frame-height;
  z-index: 100;

  .frame-bar-drag-place {
    -webkit-app-region: drag;
    position: absolute;
    top: var(--frame-bar-drag-place);
    left: var(--frame-bar-drag-place);
    width: 100%;
    bottom: 0;
  }

  > div:last-child {
    float: right;
    z-index: 100;
    -webkit-app-region: no-drag;

    > button {
      color: var(--gray-5);
    }
    &:hover > button {
      color: var(--gray-7);
    }

    > button {
      padding: 6px 16px;
      height: 32px;
      line-height: 16px;
      background: transparent;
      &:hover {
        background-color: mix(black,transparent,5%);
      }
      &:active {
        background-color: mix(black,transparent,15%);
      }
    }

    > button:last-child {
      &:hover {
        background-color: crimson;
      }
      &:active {
        background-color: mix(crimson, transparent, 80%);
      }
    }
  }
}
