.mk-button {
  display: inline-block;
  position: relative;

  font-size: 14px;
  border: 0;
  padding: 6px;
  min-width: 32px;
  height: 32px;
  vertical-align: middle;
  text-align: center;

  text-decoration: none;

  .mk-button-large {
    height: 40px;
  }

  transition: all 0.1s, color 0.3s, box-shadow 0.3s;

  &.mk-button-fullwidth {
    width: 100%;
  }

  &:active,
  &.active {
    transition: all 0;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.65;
  }
}

.mk-button-default,
.mk-button-plain,
.mk-button-floating {
  color: var(--gray-10); //an <a> link also could add this class
  background-color: var(--gray-1);

  &:not(.disabled) {
    &:hover {
      background-color: var(--gray-4);
    }
    &:active,
    &.active {
      background-color: var(--gray-5);
    }
  }
}

.mk-button-plain:not(.disabled) {
  border: 1px solid var(--gray-5);
}

.mk-button-floating:not(.disabled) {
  box-shadow: var(--gray-4) 2px 2px 5px 3px;
  &:not(.disabled) {
    &:hover {
      box-shadow: var(--gray-4) 0 0 0 0;
    }
    &:active,
    &.active {
      box-shadow: var(--gray-4) 0 0 0 0;
    }
  }
}

.mk-button-primary:not(.disabled) {
  color: var(--gray-1);
  background-color: var(--blue-7);
  &:not(.disabled) {
    &:hover {
      background-color: var(--blue-5);
    }
    &:active,
    &.active {
      background-color: var(--blue-10);
    }
  }
}

.mk-button.unfocusable {
  outline: 0;
}

.mk-button.mk-button-round {
  border-radius: 8px;
}
