.mk-button {
  font-size: 14px;

  position: relative;
  display: inline-block;

  border: 0;
  text-align: center;
  padding: 6px;

  min-width: 32px;
  height: 32px;
  .mk-button-large {
    height: 40px;
  }

  text-decoration: none;
  transition: all 0.1s, color 0.3s, box-shadow 0.3s;

  &.mk-button-fullwidth {
    width: 100%;
  }

  &:active,
  &.active {
    transition: all 0;
  }
}

.mk-button-default,
.mk-button-plain,
.mk-button-floating {
  color: var(--gray-10); //an <a> link also could add this class
  background-color: var(--button-color-static);
  &:hover {
    background-color: var(--button-color-hover);
  }
  &:active,
  &.active {
    background-color: var(--button-color-active);
  }
}

.mk-button-plain {
  border: 1px solid var(--button-color-active);
}

.mk-button-floating {
  box-shadow: var(--gray-3) 2px 2px 5px 3px;
  &:hover {
    box-shadow: var(--gray-3) 0 0 0 0;
  }
  &:active,
  &.active {
    box-shadow: var(--gray-3) 0 0 0 0;
  }
}

.mk-button-primary {
  color: white;
  background-color: var(--blue-7);
  &:hover {
    background-color: var(--blue-5);
  }
  &:active,
  &.active {
    background-color: var(--blue-10);
  }
}

.mk-button-alpha {
  color: mix(white, transparent, 95%);
  background-color: var(--button-alpha-color-static);
  &:hover {
    color: white;
    background-color: var(--button-alpha-color-hover);
  }
  &:active,
  &.active {
    color: white;
    background-color: var(--button-alpha-color-active);
  }
}

.mk-button.unfocusable {
  outline: 0;
}

.mk-button.mk-button-round {
  border-radius: 8px;
}
