.mk-button {
  font-size: 14px;
  vertical-align: middle;
  
  position: relative;
  display: inline-block;

  border: 0;
  text-align: center;
  padding: 6px;

  min-width: 32px;
  height: 32px;
  .mk-button-large {
    height: 40px;
  }

  text-decoration: none;
  transition: all 0.1s, color 0.3s, box-shadow 0.3s;

  &.mk-button-fullwidth {
    width: 100%;
  }

  &:active,
  &.active {
    transition: all 0;
  }

  &.disabled {
    pointer-events: none;
    background-color: var(--gray-4);
  }
}

.mk-button-default,
.mk-button-plain,
.mk-button-floating {
  color: var(--gray-10); //an <a> link also could add this class
  background-color: var(--gray-1);
  &:hover {
    background-color: var(--gray-4);
  }
  &:active,
  &.active {
    background-color: var(--gray-5);
  }
}

.mk-button-plain:not(.disabled) {
  border: 1px solid var(--gray-5);
}

.mk-button-floating:not(.disabled) {
  box-shadow: var(--gray-4) 2px 2px 5px 3px;
  &:hover {
    box-shadow: var(--gray-4) 0 0 0 0;
  }
  &:active,
  &.active {
    box-shadow: var(--gray-4) 0 0 0 0;
  }
}

.mk-button-primary:not(.disabled) {
  color: var(--gray-1);
  background-color: var(--blue-7);
  &:hover {
    background-color: var(--blue-5);
  }
  &:active,
  &.active {
    background-color: var(--blue-10);
  }
}

.mk-button.unfocusable {
  outline: 0;
}

.mk-button.mk-button-round {
  border-radius: 8px;
}
