.leaf-style-editor {
  margin-bottom: 24px;

  > aside {
    padding: 8px;
    float: left;
    overflow: auto;
    box-shadow: var(--gray-4) 0 0 4px 2px;
    width: 300px;

    .checkbox-button {
      width: 120px;
    }
  }
  > .sample-container {
    float: left;
    margin-left: 24px;
    min-width: 200px;

    .sample {
      > span:last-child {
        //edit icon
        opacity: 0;
      }
      &:hover > span:last-child {
        opacity: 0.5;
      }
    }
  }
}
