/* custom class */

%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}

.modal-background{
  z-index: 1000;
  position: fixed;
  top:32px;
  left: 0;
  right: 0;
  bottom:0;
  background: pink;
}