/* custom class */

%clearfix {
  display: flow-root;
}

.clearfix {
  @extend %clearfix;
}

.form-like {
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  margin: 8px 0;

  > span:nth-child(odd) {
    display: inline-block;
    margin-right: 12px;
    line-height: 40px;
    height: 40px;
    text-align: end;
  }
}