@import './classes.scss';

/* normalize */

body {
  margin: 0;
}

*,*::before,*::after{ box-sizing: border-box;}

/* variables */

:root {
  --gray-1: #ffffff;
  --gray-2: #fafafa;
  --gray-3: #f5f5f5;
  --gray-4: #f0f0f0;
  --gray-5: #d9d9d9;
  --gray-6: #bfbfbf;
  --gray-7: #8c8c8c;
  --gray-8: #595959;
  --gray-9: #434343;
  --gray-10: #262626;
  --gray-11: #1f1f1f;
  --gray-12: #141414;
  --gray-13: #000000;

  --cyan-1: #e6fffb;
  --cyan-2: #b5f5ec;
  --cyan-3: #87e8de;
  --cyan-4: #5cdbd3;
  --cyan-5: #36cfc9;
  --cyan-6: #13c2c2;
  --cyan-7: #08979c;
  --cyan-8: #006d75;
  --cyan-9: #00474f;
  --cyan-10: #002329;

  --button-color-static: var(--gray-1);
  --button-color-hover: var(--gray-3);
  --button-color-active: var(--gray-5);

  --button-alpha-color-static: transparent;
  --button-alpha-color-hover: #{mix(transparent, white, 80%)};
  --button-alpha-color-active: #{mix(transparent, black, 80%)};

  --color-onenote: var(--cyan-7);
}

.mk-button {
  position: relative;
  display: inline-block;

  text-align: center;
  padding: 6px;
  border: 0;

  text-decoration: none;
  transition: all 0.1s;
  
  &.mk-button-fullwidth{
    width: 100%;
  }
}

.mk-button-default {
  color: black;
  background-color: var(--button-color-static);
  &:hover {
    background-color: var(--button-color-hover);
  }
  &:active,.active {
    background-color: var(--button-color-active);
    transition: all 0.1s;
  }
}

.mk-button-alpha {
  color: mix(white, transparent, 95%);
  background-color: var(--button-alpha-color-static);
  &:hover {
    color: white;
    background-color: var(--button-alpha-color-hover);
  }
  &:active,.active {
    color: white;
    background-color: var(--button-alpha-color-active);
    transition: all 0.1s;
  }
}

.mk-button.unfocusable {
  outline: 0;
}

