@import "~@/styles/default";

.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
}

//dialog background

.dialog-bg {
  position: fixed;
  background-color: #0002;
  transition: all 0.3s;
}

.dialog-bg:not(.dialog-bg-no-poiner-event) {
  top: 32px;
  left: 0;
  right: 0;
  bottom: 0;
}

.dialog-bg-no-poiner-event {
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
}

//dialog: dialog-default & aside-dialog

.dialog {
  display: flex;
  position: relative;
  top: 64px;

  border-radius: 4px;
  box-shadow: var(--gray-6) 0 0 3px 1px;

  border: 1px solid var(--gray-4);
  background-color: var(--gray-1);

  > .dialog-inner {
    display: flex;
    flex-direction: column;

    width: 100%;
    overflow-y: hidden;
    padding: 32px 24px 24px 24px;
  }
}

.dialog-default {
  width: fit-content;
  max-width: calc(100vw - 16px);
  max-height: calc(100vh - 72px);
  margin: 0 auto;

  &.full {
    width: calc(100vw - 16px);
    height: calc(100vh - 72px);
  }
  &.full-width {
    width: calc(100vw - 16px);
  }
}

.dialog-close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 32px;
  height: 32px;
  // box-shadow: 0 0 5px 2px var(--gray-6);
  border-radius: 4px;
  overflow: hidden;
  > * {
    width: 100%;
    height: 100%;
    padding:0;
    > .anticon {
      color:var(--gray-8);
      font-size: 10px;
    }
  }
}

.aside-dialog {
  position: absolute;
  top: 32px;
  bottom: 0;
  right: 0;
  width: 39%;
  flex-direction: column;

  box-shadow: var(--gray-4) 2px 2px 5px 3px;

  padding-bottom: 64px;

  .aside-dialog-button-close {
    margin-top: 24px;
  }
}

.dialog-bg {
  &.hidden:not(.ani-dialog-bg-exit):not(.ani-dialog-bg-exit-active) {
    display: none;
  }
}
.dialog {
  &.hidden:not(.ani-dialog-exit):not(.ani-dialog-exit-active) {
    display: none;
  }
}

//ani

.ani-dialog-bg-enter {
  opacity: 0;
}
.ani-dialog-bg-enter-active {
  opacity: 1;
}
.ani-dialog-bg-exit {
  opacity: 1;
}
.ani-dialog-bg-exit-active {
  opacity: 0;
}

.ani-dialog-enter {
  transform: scale(0.1);
  opacity: 0;
}
.ani-dialog-enter-active {
  transform: translate(0);
  opacity: 1;
  transition: transform 0.3s cubic-bezier(0.1, 1, 0.5, 1), opacity 0.3s;
}
.ani-dialog-exit {
  transform: translate(0);
  opacity: 1;
}
.ani-dialog-exit-active {
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.3s cubic-bezier(0.8, 0.1, 0.1, 0.8), opacity 0.3s;
}

.ani-aside-dialog-enter {
  transform: translate(500px);
  opacity: 0.5;
}
.ani-aside-dialog-enter-active {
  transform: translate(0);
  opacity: 1;
  transition: transform 0.3s cubic-bezier(0.1, 1, 0.5, 1), opacity 0.3s;
}
.ani-aside-dialog-exit {
  transform: translate(0);
  opacity: 1;
}
.ani-aside-dialog-exit-active {
  transform: translate(500px);
  opacity: 0.5;
  transition: transform 0.3s cubic-bezier(0.8, 0.1, 0.1, 0.8), opacity 0.3s;
}
