.dropdown-button {
  border: 1px solid var(--gray-4);
}

.dropdown-dialog {
  background-color: var(--gray-1);
  z-index: 1001;
  position: fixed;
  box-shadow: var(--gray-4) 0 0 3px 1px;

  max-height: calc(100% - 108px);
  overflow: auto;
}
