/* app */

#app {
  & > nav {
    height: 32px;
    & > a {
      float: left;
      width: 100px;

      &.router-active {
        &::before {
          content: "";
          position: absolute;
          width: 50%;
          height: 3px;
          bottom: 2px;
          left: 25%;
          background-color: var(--color-onenote);
        }
      }
    }
  }
  .app {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
  }
}
