/* app */

#app {
  & > nav {
    height: 32px;
    & > a {
      float: left;
      width: 100px;

      &.router-active {
          background-color: var(--blue-4);
      }
    }
  }
  .app {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
  }
}
